/w4_hw1/lurajcevi_zadaca_!/nbproject/private/
/w4_hw1/lurajcevi_zadaca_1/nbproject/private/
/w4_hw1/lurajcevi_zadaca_1/build/
/w6_test/Test/nbproject/private/
/w3/vjezba_03/vjezba_03_2/build/
/w3/vjezba_03/vjezba_03_2/dist/
/w4_hw1/lurajcevi_zadaca_1/dist/
james_mail_server/
/w9_hw2/lurajcevi_zadaca_2/dist/
/w10_hw3/lurajcevi_zadaca_3/lurajcevi_zadaca_3_1/dist/
/w10_hw3/lurajcevi_zadaca_3/lurajcevi/dist/
/w10_hw3/vjezba_03/vjezba_03_1/build/
/w10_hw3/vjezba_03/vjezba_03_1/dist/
/w10_hw3/vjezba_03/vjezba_03_1/nbproject/private/
/w10_hw3/vjezba_03/vjezba_03_2/build/
/w10_hw3/vjezba_03/vjezba_03_2/dist/
/w10_hw3/vjezba_03/vjezba_03_2/nbproject/private/
/w10_hw3/vjezba_03/vjezba_03_3/build/
/w10_hw3/vjezba_03/vjezba_03_3/nbproject/private/
/w10_hw3/vjezba_03/vjezba_03_4/build/
/w10_hw3/vjezba_03/vjezba_03_4/nbproject/private/
/w10_hw3/vjezba_06/vjezba_06_1/build/
/w10_hw3/vjezba_06/vjezba_06_1/dist/
/w10_hw3/vjezba_06/vjezba_06_1/nbproject/private/
/w10_hw3/vjezba_06/vjezba_06_2/build/
/w10_hw3/vjezba_06/vjezba_06_2/nbproject/private/
/w10_hw3/lurajcevi_zadaca_3/lurajcevi_zadaca_3_3/dist/
/w10_hw3/lurajcevi_zadaca_3/lurajcevi/xml-resources/lurajcevi_zadaca_3/lurajcevi/build/
/w10_hw3/lurajcevi_zadaca_3/lurajcevi/xml-resources/lurajcevi_zadaca_3/lurajcevi/nbproject/private/
/w10_hw3/lurajcevi_zadaca_3/lurajcevi/xml-resources/lurajcevi_zadaca_3/lurajcevi_zadaca_3_1/build/
/w10_hw3/lurajcevi_zadaca_3/lurajcevi/xml-resources/lurajcevi_zadaca_3/lurajcevi_zadaca_3_1/nbproject/private/
/w10_hw3/lurajcevi_zadaca_3/lurajcevi/xml-resources/lurajcevi_zadaca_3/lurajcevi_zadaca_3_3/build/
/w10_hw3/lurajcevi_zadaca_3/lurajcevi/xml-resources/lurajcevi_zadaca_3/lurajcevi_zadaca_3_3/nbproject/private/
/w3/vjezba_03/vjezba_03_2/build
/w12_hw4/lurajcevi_zadaca_4/lurajcevi_zadaca_4/build/
/w12_hw4/lurajcevi_zadaca_4/lurajcevi_zadaca_4/dist/
/w12_hw4/lurajcevi_zadaca_4/lurajcevi_zadaca_4/nbproject/private/
/w12_hw4/lurajcevi_zadaca_4/lurajcevi_zadaca_4_1/build/
/w12_hw4/lurajcevi_zadaca_4/lurajcevi_zadaca_4_1/dist/
/w12_hw4/lurajcevi_zadaca_4/lurajcevi_zadaca_4_1/nbproject/private/
/w12_hw4/lurajcevi_zadaca_4/lurajcevi_zadaca_4_2/build/
/w12_hw4/lurajcevi_zadaca_4/lurajcevi_zadaca_4_2/dist/
/w12_hw4/lurajcevi_zadaca_4/lurajcevi_zadaca_4_2/nbproject/private/
/w12_hw4/lurajcevi_zadaca_4/lurajcevi_zadaca_4_3/build/
/w12_hw4/lurajcevi_zadaca_4/lurajcevi_zadaca_4_3/dist/
/w12_hw4/lurajcevi_zadaca_4/lurajcevi_zadaca_4_3/nbproject/private/
/projekt/lurajcevi_aplikacija_1/nbproject/private/
/projekt/lurajcevi_projekt/lurajcevi_aplikacija_1/build/
/projekt/lurajcevi_projekt/lurajcevi_aplikacija_1_legacy/nbproject/private/
/projekt/lurajcevi_aplikacija_1/build/
/projekt/lurajcevi_projekt/lurajcevi_aplikacija_2/nbproject/private/
/projekt/lurajcevi_projekt/lurajcevi_aplikacija_2_1/nbproject/private/
/projekt/lurajcevi_projekt/lurajcevi_aplikacija_2_2/nbproject/private/
/projekt/lurajcevi_projekt/lurajcevi_aplikacija_3/nbproject/private/
/projekt/lurajcevi_projekt/lurajcevi_aplikacija_3_1/nbproject/private/
/projekt/lurajcevi_projekt/lurajcevi_aplikacija_3_2/nbproject/private/
/projekt/lurajcevi_projekt/lurajcevi_aplikacija_3_1/build/
/projekt/lurajcevi_projekt/lurajcevi_aplikacija_3_2/build/
/projekt/lurajcevi_projekt/lurajcevi_aplikacija_3/build/
/projekt/lurajcevi_projekt/lurajcevi_aplikacija_3_2/dist/
/projekt/lurajcevi_projekt/lurajcevi_aplikacija_3_1/dist/
/projekt/lurajcevi_projekt/lurajcevi_aplikacija_1_1/nbproject/private/
/projekt/lurajcevi_projekt/lurajcevi_aplikacija_1_1/build/
/projekt/lurajcevi_projekt/lurajcevi_aplikacija_1/dist/
/projekt/lurajcevi_projekt/lurajcevi_aplikacija_1_2/nbproject/private/
/projekt/lurajcevi_projekt/lurajcevi_aplikacija_1_2/build/
/projekt/lurajcevi_projekt/lurajcevi_aplikacija_2_1/build/
/projekt/lurajcevi_projekt/lurajcevi_aplikacija_2_1/dist/
/projekt/lurajcevi_projekt/lurajcevi_aplikacija_2_2/build/
/projekt/lurajcevi_projekt/lurajcevi_aplikacija_2/build/
/projekt/lurajcevi_projekt/lurajcevi_aplikacija_2_2/dist/
/projekt/lurajcevi_projekt/lurajcevi_aplikacija_2_2_legacy/nbproject/private/
/projekt/lurajcevi_projekt/lurajcevi_aplikacija_2_2_leg/nbproject/private/