/w4_hw1/lurajcevi_zadaca_!/nbproject/private/
/w4_hw1/lurajcevi_zadaca_1/nbproject/private/
/w4_hw1/lurajcevi_zadaca_1/build/
/w6_test/Test/nbproject/private/
/w3/vjezba_03/vjezba_03_2/build/
/w3/vjezba_03/vjezba_03_2/dist/
/w4_hw1/lurajcevi_zadaca_1/dist/
james_mail_server/
/w9_hw2/lurajcevi_zadaca_2/dist/